

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.wrapper{
  background: url(fitness\ background.jpg)
no-repeat;
background-size: cover;
height: 100%;
}

.form-flex{
  display: flex;
}
.main-content{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;

}

.form1{
  color: white;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 25px;
  min-height: 200px;
  justify-items: center;
  margin-right: 20px;
}


.form2{
  color: white;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 25px;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  justify-content: 25px;

}
.row{
  display: flex;
}
.form3{
  color: white;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 25px;
  min-height: 200px;
  margin-right: 20px;
}
.form4{
  color: white;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 25px;
  min-height: 200px;
  margin-right: 20px;

}
.bmiTitle{
  text-align: center;
  
}
.foodTitle{
  text-align: center;
}
.navbar{
  text-align: center;
}

.home {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  float: right;
  margin-right: 5px;
  border: 3px solid;
  border-radius: 25px;
}



.title{
  color: dodgerblue;
}

img{
  display: block;
  margin: auto;
}
.clickMe{
  font-size: 10px;
}
.submitBtn{
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  float: right;
  margin-right: 5px;
  border: 3px solid;
  border-radius: 25px;
}