

* {
  margin: 0;
  padding: 0;
}

.wrapper{
  background: url(fitness\ background.jpg)
no-repeat;
background-size: cover;
height: 100vh;
}

.form-flex{
  display: flex;
}

.dropdown-form{
  color: white;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 25px;
  min-height: 200px;
  justify-items: center;
}

.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
  text-align: center;
}

.home {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  float: right;
  margin-right: 5px;
  border: 3px solid;
  border-radius: 25px;
}



.title{
  color: white;
}

.formoutput{
  color: white;
  padding: 10px;
  border: 3px solid #333;
  border-radius: 25px;
  min-height: 200px;
}

.submitBtn{
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  float: right;
  margin-right: 5px;
  border: 3px solid;
  border-radius: 25px;
}